<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.belatrix.events"
    android:label="@string/title_main"
    tools:replace="label">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.belatrix.events.BxEventsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/title_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name="com.belatrix.events.presentation.ui.activities.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.belatrix.events.presentation.ui.activities.AboutActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_about_activity"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent" />
        <activity
            android:name="com.belatrix.events.presentation.ui.activities.EventDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.belatrix.events.presentation.ui.activities.EventListActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.belatrix.events.presentation.ui.activities.FinderActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.belatrix.events.presentation.ui.activities.CitySelectionActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.belatrix.events.presentation.ui.activities.SettingsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/menu_title_settings"
            android:screenOrientation="portrait" />

        <activity android:name=".presentation.ui.activities.NotificationListActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/menu_title_activities"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.belatrix.events.presentation.ui.activities.SplashActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ui.activities.QRDisplayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SemiTransparent"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <service
            android:name=".utils.fcm.EventsFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.fcm.EventsFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>